body {
   font-size: 16px;
}

header {
   color: white;
}


#header-top {
   height: 90px;
   background-color: #2C3E50;
}

.text-white {
   color: #ECF0F0;
}

.container {

}


#jumbotron {
   background-color: #1BBC9C;
}

#jumbotron-content img {
   height: 260px;
}

#jumbotron-content {
   text-align: center;
   padding: 50px 0;
}

#jumbotron-content h1 {
   font-size: 4vw;
   /* font-weight: bold; */
}

#jumbotron-content p {
   font-size: 1.8vw;
}

.divider {
   text-align: center;
   font-size: 1.8vw;
   margin: 20px 0;
}

.divider h2 {
   font-size: 48px;
}

#portfolio-content {
   padding: 50px 0;
}

#portfolio-content img {
   /* padding: 15px 0; */
   border-radius: 25px;
}



.card {
   height: 270px;
   margin-bottom: 30px;
}

.card img {
   height: 100%;
}

#about {
   background-color: #1BBC9C;

}

#about-content {
   padding: 50px 0;
}

#about-content a {
   color: inherit;
   display: block;
   text-align: center;
}




#footer-top {
   background-color: #3A546D;
}

#footer-bottom {
   text-align: center;
   height: 100px;
   background-color: #2C3E50;
   line-height: 100px;
}
#footer-bottom span {
   vertical-align: middle;
}
