
.text-white {
   color: #ECF0F0;
}

#header-top {
   height: 90px;
   background-color: #2C3E50;
}




#jumbotron {
   background-color: #1BBC9C;
   text-align: center;
}

#jumbotron-content {
   padding: 50px 0;
}

#jumbotron-content img {
   width: 30%;
}


.divider {
   text-align: center;
}


#portfolio-content {
   padding: 50px 0;
}

#portfolio-content img {
   width: 100%;
   border-radius: 25px;
   margin-bottom: 30px;
}



#about {
   background-color: #1BBC9C;

}

#about-content {
   padding: 50px 0;
}

#btn-center {
   text-align: center;
}

#about-content a {
   color: inherit;
   display: inline-block;
   text-align: center;
   margin: 0 auto;
   border: 1px solid white;
   border-radius: 5px;
   padding: 10px;
}

.space {
   height: 300px;
}




#footer-top {
   background-color: #3A546D;
   text-align: center;
}

#footer-top ul li {
   display: inline-block;
}




#footer-bottom {
   text-align: center;
   height: 100px;
   background-color: #2C3E50;
   line-height: 100px;
}
#footer-bottom span {
   vertical-align: middle;
}
